@model FilmBuff.Models.Review.ReviewDetail

@{
    ViewBag.Title = "Details";
}

<h2> @Html.DisplayFor(model => model.Movie.Title) Review</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
