@model IEnumerable<FilmBuff.Models.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h3><a class="btn btn-success btn-lg" href="~/Review/Create">Write a review &raquo;</a></h3>


@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
            </td>
        </tr>
    }

</table>
<p>
   <a href="~/Home/Index">Back to home</a>
</p>
